* {
    margin: 0;
    padding: 0;
    font-family: 'poppings', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0d2556, #8b5b99);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #003550;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}



.pixels2 img {
    position: absolute;
    margin-top: 290px;
    left: 899px;
    width: 80px;

}

.pixels1 img {
    text-align: center;
    display: inline-block;
    width: 1420px;
    height: 14.5rem;




}

.todo-app h2 {
    color: aliceblue;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo-app h2 img {
    position: absolute;
    width: 40px;
    margin-left: 130px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: transparent;
    padding: 10px;
}

button {
    border: nome;
    outline: nome;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}

ul li {
    list-style: nome;
    font-size: 17px;
    padding: 17px 8px 12px 50px;
    user-select: nome;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(imagens/circulo.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(imagens/check.jpg);
}


@media (width: 600px) {
    .todo-app {
        margin: 200px auto;
        padding: 20px;

    }
}



ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span::hover {
    background: #edeef0;
}

@media screen and (max-width: 768px) {
    .todo-app {
        padding: 15px;
        margin: 30px auto;
    }


    .row {
        padding: 5px;
        flex-wrap: wrap;
        
    }

    input {
        font-size: 12px;
        padding: 8px;

    }

    button {
        padding: 10px 20px;
        font-size: 12px;
    }

    ul li {
        font-size: 12px;
        padding: 8px 5px 8px 25px;
    }

    ul li::before {
        height: 15px;
        width: 15px;
    }

    ul li span {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .pixels2 img {
        width: 40px;
        
        left: 310px;
        margin-top: 248px;

    }

    .pixels1 img {
        width: 345px;
    }

    .todo-app h2 {
        font-size: 1.2rem;
    }



    button {
        padding: 8px 16px;
        font-size: 10px;
    }

    input {
        font-size: 10px;
        padding: 5px;
    }

    ul li {
        font-size: 10px;
    }

    ul li::before {
        height: 12px;
        width: 12px;
    }

    ul li span {
        width: 15px;
        height: 15px;
        font-size: 10px;
    }
}
